#wechat .wechat-list {
  position: relative;
  overflow-x: hidden;
  z-index: 1;
  text-align: left;
}
#wechat .wechat-list .list-row {
  height: 1.2rem;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
#wechat .wechat-list .list-row .list-info {
  position: relative;
  z-index: 2;
  left: 0;
  width: 100%;
  height: 1.2rem;
  padding:.16rem;
  background-color: #fff;
  transition: .3s ease-out;
  overflow:hidden;
}
#wechat .wechat-list .list-row .operate-box {
  position: absolute;
  z-index: 1;
  height: 100%;
  right: 0;
  top: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
#wechat .wechat-list .list-row .list-info .header-box {
  position: relative;
  float: left;
  width: .88rem;
  height: .88rem;
  margin-right: .15rem;
}
#wechat .wechat-list .list-row .list-info .desc-box {
  overflow: hidden;
}
#wechat .wechat-list .list-row .list-info .header-box .header {
  height: 100%;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  overflow: hidden;
  background: #dddbdb;
}
#wechat .wechat-list .list-row .list-info .header-box .header img {
  width: 10%;
  height: auto;
  -webkit-box-flex: 2;
  -webkit-flex-grow: 2;
  -ms-flex-positive: 2;
  flex-grow: 2;
  border: 0;
}
#wechat .wechat-list .list-row .list-info .header-box .header.multi-header img {
  margin: 1px;
  width: .28rem;
}
.line-bottom:not(:first-child):before {
  content: "";
  position: absolute;
  width: 200%;
  left: .16rem;
  top: 0;
  transform: scale(.8);
  transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  background-color: #ccc;
  height: 1px;
  z-index: 7;
}
#wechat .wechat-list .list-row:last-child:after {
  content: "";
  position: absolute;
  width: 200%;
  left: 0;
  z-index: 10;
  left: .16rem;
  bottom: 0;
  transform: scale(.8);
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  background-color: #ccc;
  height: 1px;
}
#wechat .wechat-list .list-row .list-info .desc-box .desc-author {
  height: .48rem;
  line-height: .48rem;
  font-size: 16px;
  color: #000;
}
#wechat .wechat-list .list-row .list-info .desc-box {
  overflow: hidden;
}
#wechat .wechat-list .list-row .list-info .desc-box .desc-time {
  float: right;
  font-size: 13px;
  color: #b8b8b8;
}
#wechat .wechat-list .list-row .list-info .desc-box .desc-msg {
  height: .4rem;
  line-height: .4rem;
  font-size: 13px;
  color: #888;
}
.unread{
  position: absolute;
  top: -.12rem;
  right: -.16rem;
}
#wechat .wechat-list .list-row .operate-box .operate-del {
  background-color: #ff3b30;
}

#wechat .wechat-list .list-row .operate-box>div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #c7c7cc;
  color: #fff;
  font-size: 18px;
  padding: 0 .24rem;
}
